* {
	box-sizing: border-box;;
}

#summary {
	padding-top: 30px;
	font-size: 25px;
}

#instructions {
	font-size: 18px;
	margin-top: 70px;
	border: dashed;
	padding: 10px;
	border-color: red;


}

#henry {
	margin-top: 20px;
	height: 450px;
	width: 420px;
	border-style: solid;
	border-width: 4px;
}

.banana {
	height: 200px;
	width: 100%;
}

#result {
	font-size: 25px;
	color: red;
}